/* NotificationPopup.css */
.analytics-container {
    position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
  }

  .analytics-container.active {
    right: 0; /* Slide in from the right */
  }
  
    /* Media Query for Responsive Design */
  @media screen and (max-width: 600px) {
      .notifications-container {
        padding: 10px;
      }
  }
    