/* Dashboard Container */
.dashboard-container {
    display: flex;
}
  
  /* Side Panel */
.side-panel {
    width: 180px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo h1 {
    font-size:x-large;
}

.side-panel ul {
    list-style-type: none;
    padding: 0;
}
  
.side-panel li {
    margin-bottom: 10px;
}
  
.side-panel a {
    color: #fff; /* Set your link color */
    text-decoration: none;
}
  
  /* Main Content */
.main-content {
    flex: 1;
    padding: 10px;
}

/* Dashboard Container */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}
  
  /* Header */
.header {
    text-align: center;
    margin-bottom: 5px;
}
  
.header h1 {
    font-size: 35px;
    color: #333; /* Set your desired text color */
}
  
.header h3 {
    font-size: 18px;
    color: #666; /* Set your desired text color */
}
  
  /* Welcome Section */
.welcome-section {
    text-align: center;
    margin-bottom: 20px;
}
  
.welcome-text {
    font-size: 18px;
    color: #333; /* Set your desired text color */
}
  
.additional-text {
    font-size: 16px;
    color: #666; /* Set your desired text color */
}
  
  /* Timer Section */
.timer-section {
    text-align: center;
    margin-bottom: 20px;
}
  
.time-remaining {
    font-size: 24px;
    color: #333; /* Set your desired text color */
}
  
  /* Hero Image */
.hero-image {
    text-align: center;
    margin-bottom: 20px;
}
  
  /* Logout Button */
.logout-button {
    background-color: #007bff; /* Set your desired button background color */
    color: #fff; /* Set your desired button text color */
    font-size: 18px;
    margin-top: 150%;
    padding: 15px 50px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.logout-button:hover {
    background-color: #b3001e; /* Set your desired hover background color */
}
  
  /* Support Section */
.support-section {
    text-align: center;
}
  
.link {
    color: #007bff; /* Set your link color */
    text-decoration: none;
}
  
.support-text {
    font-size: 16px;
    color: #333; /* Set your desired text color */
    margin-bottom: 10px;
}
  
.success-text {
    font-size: 18px;
    color: #333; /* Set your desired text color */
}
  
/* Media Query for Responsive Design (adjust breakpoints as needed) */
@media screen and (max-width: 600px) {
    .home-container {
      padding: 10px;
    }
}
  

  
