/* Dashboard Container */
* {
    color:#333;
    font-family: 'Open Sans', sans-serif;
}

.dashboard-container {
    display: flex;
}

.user-location {
    align-items: center;
    justify-content: center;
}
  
  /* Side Panel */
.side-panel {
    width: 180px;
    background-color: #333;
    color: #fff;
    padding: 18px;
}

.logo h1 {
    color: #fff;
    font-size: 1.8rem;
}

.separator {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}
  

.side-panel ul {
    list-style-type: none;
    padding: 0;
}
  
.side-panel li {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    border: none;
}

.menu li:hover {
    background-color: #007bff;
    width: 76%;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.side-panel a {
    color: #fff;
    text-decoration: none;
}
  
  /* Main Content */
.main-content {
    flex: 1;
    padding: 10px;
}

.notifications-container {
    background-color: #fff; /* Background color for notifications */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Dashboard Container */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../public/countdown.svg);
    background-position: bottom right; /* Position the background image at the bottom right */
    background-repeat: no-repeat;
    background-size: auto 65%; /* Prevent the image from repeating */
    height: 85vh;
    background-color: #d1d1d1;
}
.home-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
    justify-content: center;
    height: 20vh;
    background-color: #d1d1d1;
}
  
  /* Header */
.header {
    text-align: center;
    margin-bottom: 3px;
}
  
.header h1 {
    font-size: 35px;
    color: #333;
}

.home-banner h1 {
    font-size: 45px;
    font-weight: 800;
}

.home-banner h3 {
    font-size: 15px;
}
  
.header h3 {
    font-size: 15px;
    color: #333;
}
  
  /* Welcome Section */
.welcome-section {
    text-align: center;
    margin-bottom: 20px;
}
  
.welcome-text {
    font-size: 18px;
    color: #333; 
}
  
.additional-text {
    font-size: 16px;
    color: #666;
}
  
  /* Timer Section */
.timer-section {
    text-align: center;
    margin-bottom: 20px;
}
  
.time-remaining {
    font-size: 24px;
    color: #333;
}
  
  /* Hero Image */
.hero-image {
    text-align: center;
    margin-bottom: 20px;
}
  
  /* Logout Button */
.logout-button {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    margin-top: 130%;
    padding: 15px 50px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.logout-button:hover {
    background-color: #b3001e;
}
  
  /* Support Section */
.support-section {
    text-align: center;
}
  
.link {
    color: #007bff;
    text-decoration: none;
}
  
.support-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
  
.success-text {
    font-size: 18px;
    color: #333;
}
  
/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
    .home-container {
      padding: 10px;
    }
}
  

  
