/* Style the form container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    background-color: #afafaf; 
    padding-top: 100px;
}
  
  /* Style the form wrapper (to separate login and signup forms) */
.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 40px;
}
  
  /* Style the login and signup forms */
.form {
    padding: 20px;
    padding-bottom: 7%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #b4b4cc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px; 
}
  
  /* Style the input fields */
.form input[type="email"],
.form input[type="password"] {
    width: 93%;
    padding: 15px;
    margin-bottom: 40px;
    border: 1px solid #b4b4cc;
    border-radius: 3px;
}
  
  /* Style the buttons */
.form button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.form button:hover {
    background-color: #0056b3; /* Button background color on hover */
}
  
  /* Style form headings */
.login-container h1 {
    align-items: center;
    margin-bottom: 20px;
    font-size: 3.1rem;
}

.form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.login-container a {
    font-size: medium;
    padding-top: 1%;
    cursor: pointer;
}
  
  /* Style form links or additional text */
.login-container p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

  